services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.33.5
    restart: unless-stopped
    networks:
      - homelab-network
    ports:
      - 9443:9443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/docker-volumes/portainer-data:/data
    security_opt:
      - no-new-privileges:true
